<div>
  <div class="center">
    <sprint-selector [(sprintId)]="sprintId"></sprint-selector>
  </div>
  <table>
    <tr>
      <td>Sort Backlog:</td>
      <td>
        <button
          (click)="onClickSortBtn()"
          [disabled]="!enableSortBtn"
          mpTrack
          mpTriggerEvent="click"
          mpEventName="Click Sort Backlog"
          [mpEventData]="{springId: sprintId}"
        >Sort</button>
      </td>
    </tr>
    <tr>
      <td>Sync Fix Versions to Subtask:</td>
      <td>
        <button
          (click)="onClickCopyVerBtn()"
          [disabled]="!enableCopyVerBtn"
          mpTrack
          mpTriggerEvent="click"
          mpEventName="Click Sync Fix Versions To Subtask"
          [mpEventData]="{springId: sprintId}"
        >Run</button>
      </td>
    </tr>
    <tr>
      <td>Set All Bugs Reviewed:</td>
      <td>
        <button
          (click)="onClickSetAllBugReviewedBtn()"
          [disabled]="!enableSetAllBugReviewed"
          mpTrack
          mpTriggerEvent="click"
          mpEventName="Click Set All Bug Reviewed"
          [mpEventData]="{springId: sprintId}"
        >Run</button>
      </td>
    </tr>
  </table>

</div>
