<div>
  <div>
    <h2>Jira Killer</h2>
    <span>Jira Domain: </span><input [(ngModel)]="jiraDomain" (change)="onConfigChange()" type="text">
  </div>

  <div>
    <h3>Auth</h3>
    <span>Email: </span><input [(ngModel)]="email" (change)="onConfigChange()" type="text">
    <span>Api Token: </span><input [(ngModel)]="apiToken" (change)="onConfigChange()" type="password">
    <a href="https://id.atlassian.com/manage-profile/security/api-tokens" target="_blank">Get Token</a>
  </div>

  <div>
    <h3>Field ID</h3>
    <span>Team</span><input [(ngModel)]="teamFieldId" (change)="onConfigChange()" type="text">
    <span>Sprint</span><input [(ngModel)]="sprintFieldId" (change)="onConfigChange()" type="text">
    <span>EPIC</span><input [(ngModel)]="epicFieldId" (change)="onConfigChange()" type="text">
    <span>StoryPoint</span><input [(ngModel)]="storyPointFieldId" (change)="onConfigChange()" type="text">
  </div>

  <div>
    <h3>Poker Game</h3>
    <span>PokerGameID</span><input [(ngModel)]="pokerGameId" (change)="onConfigChange()" type="text">
    <a href="https://www.scrumpoker-online.org/" target="_blank">Create Game</a>
  </div>

  <div>
    <h3>Meeting Note</h3>
    <span>Google Doc ID</span><input [(ngModel)]="meetingNoteGDocId" (change)="onConfigChange()" type="text">
  </div>

  <div>
    <h3>Dashboard GSheet</h3>
    <span>Lambda API Url</span><input [(ngModel)]="dashboardGSheetUrl" (change)="onConfigChange()" type="text">
  </div>

  <div>
    <h3>Breakdown By Subtask</h3>
    <input [(ngModel)]="breakdownBySubtask" (change)="onConfigChange()" type="checkbox"><span>Is Enable</span>
  </div>

  <div>
    <h3>Jira In Black</h3>
    <input [(ngModel)]="jiraInBlack" (change)="onConfigChange()" type="checkbox"><span>Is Enable</span>
  </div>
</div>
