/** https://github.com/jbronssin/jira-black **/
html:not([jira-not-in-black]) {
  filter: invert(86%) hue-rotate(180deg) brightness(105%) contrast(105%);
  background: white;
}
body {
  background: white;
}
html:not([jira-not-in-black]) #ak-side-navigation [data-navheader*="true"] span:empty,
html:not([jira-not-in-black]) .atlaskit-portal [data-placement="bottom-end"] span:empty,
html:not([jira-not-in-black]) [aria-label*="profile"] span:empty,
html:not([jira-not-in-black]) [data-testid*="profile"] span:empty,
html:not([jira-not-in-black]) [data-test-id*="profile"] span:empty,
html:not([jira-not-in-black]) span[role="img"],
html:not([jira-not-in-black]) img,
html:not([jira-not-in-black]) svg,
html:not([jira-not-in-black]) iframe,
html:not([jira-not-in-black]) .emoji-common-emoji-sprite,
html:not([jira-not-in-black]) .pdfViewer,
html:not([jira-not-in-black]) .media-viewer-popup,
html:not([jira-not-in-black]) .page,
html:not([jira-not-in-black]) .media-card-inline-player,
html:not([jira-not-in-black]) #tempo-nav,
html:not([jira-not-in-black]) .tempo-app-container {
  filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
  border-color: transparent;
}
html:not([jira-not-in-black]) .media-viewer-popup img,
html:not([jira-not-in-black]) .media-viewer-popup span[role="img"],
html:not([jira-not-in-black]) .media-viewer-popup svg,
html:not([jira-not-in-black]) .media-viewer-popup iframe {
  filter: none;
}
#gh {
  padding: 0 40px;
}
#content {
  margin: 0;
}
[data-testid="Content"] > div:first-child {
  background: white;
}

html:not([jira-not-in-black]) .css-1ko5j7w,
html:not([jira-not-in-black]) .css-1z0rgo9,
html:not([jira-not-in-black]) .css-sw0u0k {
 filter: invert(86%) hue-rotate(180deg) brightness(105%) contrast(105%);
}
