.top-container
  background: white
  position: absolute
  top: -162px
  left: 50%
  z-index: 10000
  transition: top 0.2s ease-out

.left-container
  background: none
  position: absolute
  top: 10%
  left: -610px
  z-index: 10000
  display: flex
  transition: left 0.2s ease-out
  text-align: center
  align-items: center
  justify-content: center

.top_0
  top: 0

.left_0
  left: 0

button
  width: 25px
  height: 25px
