<div class="top-container container" [ngStyle]="topPanelPlace">
  <div #topPanel>
    <div class="center">
      <story-transit></story-transit>
    </div>
    <hr>
    <div class="center">
      <backlog-sort></backlog-sort>
    </div>
    <hr>
    <div class="center">
      <breakdown-task></breakdown-task>
    </div>
    <hr>
  </div>
  <button class="switch-btn top-btn" (click)="onClickTopSwitchBtn()">{{getSwitchTopBtnText(isShowTopPanel)}}</button>
</div>

<div class="top-left-container container" [ngStyle]="topLeftPanelPlace">
  <div #topLeftPanel>
    <workload></workload>
  </div>
  <button class="switch-btn top-btn" (click)="onClickTopLeftSwitchBtn()">{{getSwitchTopBtnText(isShowTopLeftPanel)}}</button>
</div>

<div class="left-container side-container container" [ngStyle]="leftPanelPlace">
  <div #leftPanel>
    <poker></poker>
  </div>
  <div>
    <button class="switch-btn side-btn" (click)="onClickLeftSwitchBtn()">{{getSwitchLeftBtnText(isShowLeftPanel)}}</button>
  </div>
</div>

<div class="right-container side-container container" [ngStyle]="rightPanelPlace">
  <div>
    <button class="switch-btn side-btn" (click)="onClickRightSwitchBtn()">{{getSwitchRightBtnText(isShowRightPanel)}}</button>
  </div>
  <div #rightPanel>
    <h3>Chart Panel</h3>
    <chart></chart>
  </div>
</div>
