<div class="top-container container" [ngStyle]="topPanelPlace">
  <div class="card" #topPanel>
    <div class="center">
      <div>
        <h3>Story Transition</h3>
        <story-transit></story-transit>
      </div>
    </div>
    <hr>
    <div class="center">
      <div>
        <h3>Backlog Maintenance</h3>
        <backlog-maintenance></backlog-maintenance>
      </div>
    </div>
    <hr>
    <div class="center">
      <div>
        <h3>Quick Browse Issue</h3>
        <browse-issue></browse-issue>
      </div>
    </div>
    <hr>
    <div class="center">
      <div>
        <h3>Task Breakdown</h3>
        <breakdown-task></breakdown-task>
      </div>
    </div>
  </div>
  <button class="switch-btn top-btn" (click)="onClickTopSwitchBtn()">{{getSwitchTopBtnText(isShowTopPanel)}}</button>
</div>

<div class="top-left-container container" [ngStyle]="topLeftPanelPlace">
  <div class="card" #topLeftPanel>
    <h3>Workload</h3>
    <workload></workload>
  </div>
  <button class="switch-btn top-btn" (click)="onClickTopLeftSwitchBtn()">{{getSwitchTopBtnText(isShowTopLeftPanel)}}</button>
</div>

<div class="left-container side-container container" [ngStyle]="leftPanelPlace">
  <div class="card" #leftPanel>
    <poker></poker>
  </div>
  <div>
    <button class="switch-btn side-btn" (click)="onClickLeftSwitchBtn()">{{getSwitchLeftBtnText(isShowLeftPanel)}}</button>
  </div>
</div>

<div class="right-container side-container container" [ngStyle]="rightPanelPlace">
  <div>
    <button class="switch-btn side-btn" (click)="onClickRightSwitchBtn()">{{getSwitchRightBtnText(isShowRightPanel)}}</button>
  </div>
  <div class="card" #rightPanel>
    <h3>Chart Panel</h3>
    <chart></chart>
  </div>
</div>

<div class="bottom-container container" [ngStyle]="bottomPanelPlace">
  <div class="card" #bottomPanel>
    <subtask-list></subtask-list>
  </div>
</div>
