.card
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

.container
  background: none
  position: fixed
  z-index: 10000
  div
    background: white

.top-container
  transition: top 0.2s ease-out
  button
    display: block
    margin: 0 auto

.top-left-container
  transition: top 0.2s ease-out
  button
    display: block
    margin: 0 auto

.side-container
  display: flex
  text-align: center
  align-items: center
  justify-content: center

.left-container
  transition: left 0.2s ease-out

.right-container
  transition: right 0.2s ease-out

.switch-btn
  width: 25px
  height: 25px

.top-btn
  width: 50px

.side-btn
  height: 50px

h3
  text-align: center
  margin: 10px 0
  font-size: 18px
  font-weight: 400
