<div>
  <select name="type" [(ngModel)]="issueType" (change)="onChangeIssueType()">
    <option disabled selected value>Select Ticket Type</option>
    <option [value]="CustomIssueType.FETask">Frontend Task</option>
    <option [value]="CustomIssueType.BETask">Backend Task</option>
    <option [value]="JiraIssueType.Task">Task</option>
    <option [value]="JiraIssueType.Test">QA Test</option>
  </select>
  <input [(ngModel)]="summary"  name="summary" type="text">
  <input [(ngModel)]="storyPoint" (change)="onChangeStoryPoint()" name="story_point" type="number" style="width: 40px;">
  <button (click)="onClickSaveBtn()" [disabled]="!canSave()">Save</button>
  <a data-name="issue-key" target="_blank"></a>
  <span data-name="status" style="margin-left: 2px;"></span>
</div>
